[Unit]
Description=Ethercat IO reader and writer for ASMAmotion
After=network.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/ethercat_ioctl --service
Restart=on-failure

RuntimeDirectory=ethercat_io
RuntimeDirectoryMode=0755
UMask=0022

NoNewPrivilege=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
